     @media screen and (max-width: 600px) {
        .content{
            flex-direction: column;
            flex: 100%;
        }
      }
      
      @media screen and (min-width: 600px) and (max-width: 960px){
          .content{
            flex: 50%;
        }
      }
      @media screen and (min-width: 960px) {
        .content{
            flex: 30%;
        }
    }

    * {
        box-sizing: border-box;
      }

    /* Responsive layout - makes a one column-layout instead of a two-column layout */
    /* @media (max-width: 1000px) {
        .content {
          flex: 100%;
        }
      } */
      
    .container {
      display: flex;
      flex-wrap: wrap;
    }
    #red {
        background-color: red;
        
        padding: 10px;
    }
    #green {
        background-color: green;
        padding: 10px;
    }

    #blue {
        background-color: blue;
        padding: 10px;
    }
    #yellow {
        background-color: yellow;
        padding: 10px;
    }
    #purple {
        background-color: purple;
        padding: 10px;
    }
    #grey {
        background-color: grey;
        padding: 10px;
    }
